.contact{
    padding: 8vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    // background-color: antiquewhite;
    .description{

    }
    .apps{
        display: flex;
        justify-content: center;

        .app{
            display: flex;
            align-items: center;
            cursor: pointer;
            margin: 1rem;
            transition: all 0.3s ease;
            &:hover{
                color: #9290C3;
                a{
                    color: #9290C3;
                }
                transform: translateY(-10px);
            }

            .icon{
                margin-right: 0.5rem;
            }

            a{
                color: white;
                text-decoration: none;
                font-size: 5vmin;

            }
        }
    }
}

@media screen and (max-width: 768px){
    .apps{
        flex-direction: column;
        .app{
            margin: 0.5rem;
        }
    }
}