$primary-color: #070F2B;
$padding: 8vmin;
$primary-text-color: #fff;
$mobile-font-size: 5vmin;
$desktop-font-size: 5vmin;

body {
  background-color: $primary-color;
  padding: $padding;
  color: $primary-text-color;
  font-size: $desktop-font-size;
}

@media screen and (max-width: 768px) {
  body {
    font-size: $mobile-font-size;
  }
}
